# temp files from editors
*~
*.bak
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/
.sass-cache
Thumbs.db
desktop.ini
.buildpath
.scssc
bower_components
node_modules
.tmp
composer.lock